<script src="https://cdn.jsdelivr.net/npm/fullcalendar@6.1.15/index.global.min.js"></script>
<script>
    const schedule=<%- JSON.stringify(calendar)%>;
    let title, start,end;
    var list=[{}];
    for (i=0;i<schedule.length;i++) {
        var schedules={};

        schedules['title']=schedule[i].C_TITLE;
        schedules['start']=schedule[i].C_STARTDATE;
        schedules['end']=schedule[i].C_ENDDATE;
        console.log('schedules',schedules)

        list.push(schedules)
    }
    document.addEventListener('DOMContentLoaded', function() {
    const calendarEl = document.getElementById('calendar')
    
    const calendar = new FullCalendar.Calendar(calendarEl, {
      initialView: 'dayGridMonth',
    events: list,

})
    calendar.render()
  })
  

  

</script>
<div id='calendar'></div>
