<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0>
    <title>Document</title>
    <link rel="stylesheet" href="default.css">
</head>
<body>
    <nav>
        <a href="/main" name="main">main</a>
        <a href="/to-do-list" name="todo">to do list</a>
        <a href="/calendar" name="calendar">calendar</a>
        <a href="/board" name="board">board</a>
    </nav>
</body>
</html>