<!DOCTYPE html>
<html lang="ko">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <div class="navBar">
      <div class="navBar_a">
        <a href="/main">main</a>
        <a href="/to-do-list">to do list</a>
        <a href="/calendar">calendar</a>
        <a href="/board">board</a>
      </div>
    </div>
  </body>
</html>
