<div id="inside_wrap">
    <div id="todo">
        <div name="title">To-Do</div>
        <div >
            <form action="/todo/newtodo" method="post" class="todo">
                <textarea name="title" id="todo_title" maxlength="20" placeholder="제목"></textarea>
                <textarea name="memo" id="todo_memo" maxlength="100"placeholder="메모"></textarea>
                <input type="datetime-local" name="todo_datetime" id="todo_datetime">
                <select name="select" id="select">
                    <option value="1st">중요</option>
                    <option value="2nd">그다음으로 중요</option>
                    <option value="3th">중요하지 않음</option>
                </select>
                <input type="submit" value="등록">
            </form>
        </div>
            <% for (i=0;i<todolist.length;i++) { %>
                <div class="todolist">
                <input type="checkbox" name="finTodo" id="finTodo">
                <div name="title"><%= todolist[i]['title'] %></div>
                <div name="memo"><%= todolist[i]['memo'] %></div>
                <button >삭제</button>
                <%= todolist[i]['date'] %>까지</div>
            <% } %>
        </div>


