<script>
    const isChecked=(box)=>{
        console.log(box);

        const title=document.getElementById('title');
        if (box.checked){
            circle.innerHTML=`
<style>
    #label_circ {
        margin-left:15px;
    }
</style>`
        }else{
            circle.innerHTML=`
<style>
    #label_circ {
        margin-left:0;
    }
</style>`
        }
        console.log(box.checked);
    }
</script>


<div id="inside_wrap">
    <div id="todo">
        <div name="title">To-Do</div>
        <form action="/todo/newtodo" method="post" id="todoform">
            <textarea name="title" id="title" maxlength="13" placeholder="제목" required></textarea>
            <select name="priority" id="priority" requireds>
                <option value="priority" selected disabled hidden >우선순위</option>
                <option value="0">없음</option>
                <option value="disable" disabled>-</option>
                <option value="1">낮음</option>
                <option value="2">중간</option>
                <option value="3">높음</option>
            </select>
            <input type="submit" value="등록">
        </form>
            <% for (i=0;i<todolist.length;i++) { %>
                <div class="todolist" >
                    <div id="todo_wrap">
                        <label for="todo_checkbox" >
                            <div id="lebel_bg">
                                <div id="label_circ"></div>
                            </div>
                        </label>
                        <% if(todolist[i]['priority']=='1') { %>
                            !
                        <% } else if(todolist[i]['priority']=='2'){ %>
                            !! 
                        <% } else if(todolist[i]['priority']=='3') { %>
                            !!!
                            <%  } else { %>
                            <% } %>
                        <div name="title" id=`todo_title-`><%= todolist[i]['title'] %></div>
                        <input type="checkbox" name="<%= todolist[i]['pk'] %>" id="todo_checkbox" onclick="isChecked(this)">
        
                    </div>

                <button>수정</button>
                <button>삭제</button>
            </div>

            <% } %>
        </div>


