#inside_wrap {
    display: flex;
}

#calendar {
    width: 70vw; height: 70vh;
    border-radius: 30px;
    background-color: white;
    padding: 15px;
}

#Schedulebar {
    width: 30%;
    background-color: rgb(66, 189, 62);

}

#inside_wrap {
    width: 80vw;
    height: 90vh;
    background-color: rgb(200, 200, 200);
    border-radius: 0px 30px 30px 30px;
    & > * {
        margin: 5%;
    }
}


