#calendar {
    width: 70vw; height: 70vh;
    border-radius: 30px;
    background-color: white;
    padding: 15px;
}


#inside_wrap {
    display: flex;
    width: 80vw;
    height: 90vh;
    & > * {
        margin: 5%;
    }
}


