#inside_wrap {
    display: flex;
}


#calendar {
    padding: 20px;
    width: 80vw; height: 70vh;
    border-radius: 30px;
    background-color: white;

}
#content_wrap{
    display: flex;
    flex-direction: column;
    width: 80%; height: auto;
    margin: 10px auto;
    padding: 5px;
    display: flex;
    background-color: rgb(200, 200, 200);
    border-radius:  30px 30px 0px 30px ;
    align-items: center;
    word-break: keep-all;
    & .date_label {
        display: flex;
        flex-direction: row;
    }
    & .title {
        margin-top: 10px;
        font-weight: 600;
    }
    & > input[type="date"] {
        padding: 5px;

    }
    & .icon_wrap {
        margin-top: 10px;
    }
}
#calendar_wrap {
    width: 50vw; height: 70vh;

}

input[type="date"] {
    margin-left: 10px;
    border-style: none;
}

:root {
    --fc-today-bg-color: rgba(200, 200, 200, 0.5);
    --fc-button-bg-color: rgb(66, 189, 62);
    --fc-button-border-color: rgb(66, 189, 62);
    --fc-button-hover-bg-color: rgb(66, 189, 62);
    --fc-button-hover-border-color: white;

    
}
