#inside_wrap {
    & > div {
        margin: 3%;
    }
}

#todo, #rate {
    display: inline-block;
}
#div1 {
    display: flex;

}

#calendar {
    width: 30vw; height: 50vh;


}

#rate {
    width: 40vw; height: 100px;
    background-color: rgb(235, 235, 235);
    padding: 30px;
    border-radius: 10px;

}

#bar {
    width: 1%; height: 40px; background-color: blue;
    border-radius: 50px;
    margin: 0 auto 0 auto;
    transition: 1s;

    &:hover{
        width: 50%;
    }
}



#board {
    width: 15vw; height: 40vh; background-color: rgb(235, 235, 235);
    border-radius: 10px;
    margin: 5vw auto;

}
