<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/calendar.css">
    <script>
            // 수정 상태로 전환
    function enableEdit(calId) {
        const calTitle = document.getElementById(`cal_title-${calId}`);
        const editBtn = document.getElementById(`edit-btn-${calId}`);

        const deleteBtn = document.getElementById(`delete-btn-${calId}`);

        console.log(editBtn)
        
        // todo_title을 수정 가능하게 만듬
        calTitle.contentEditable = true;
        calTitle.style.backgroundColor = '#f0f0f0'; // 수정할 때 배경 색상 변경/

        // 버튼 텍스트를 '저장'으로 변경

        try {
            editBtn.innerHTML = `
            <svg width="13px" height="13px" viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">

    <g>
        <path fill="none" d="M0 0h24v24H0z"/>
        <path fill="rgb(100, 100, 100)" d="M18 21v-8H6v8H4a1 1 0 0 1-1-1V4a1 1 0 0 1 1-1h13l4 4v13a1 1 0 0 1-1 1h-2zm-2 0H8v-6h8v6z"/>
    </g>
</svg>
`;
        editBtn.setAttribute('onclick', `saveEdit(${calId})`);
        } catch (error) {
            console.log(error)
        }

    }
        function saveEdit(calId) {
        const calTitle = document.getElementById(`todo_title-${calId}`);
        const newTitle = calTitle.textContent; // 수정된 텍스트 가져오기
//수정된 내용을 서버로 전송
        fetch('/calendar/modify', {
            method: 'POST',
            headers: { 'Content-Type': 'application/json' },
            body: JSON.stringify({
                T_ID: calId,
                T_TITLE: newTitle

                // T_PRIORITY: newPriority
            })
        })
        .then(res => res.json())
        .then(data => {
            console.log('data',data)
            if (data) {
                alert("수정 완료!");
                calTitle.contentEditable = false; // 수정 불가 상태로 변경
                calTitle.style.backgroundColor = ''; // 배경 색상 초기화
                const editBtn = document.getElementById(`edit-btn-${calId}`);
                try {
                    editBtn.innerHTML = `
<svg width="13px" height="13px" viewBox="0 0 32 32" version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" xmlns:sketch="http://www.bohemiancoding.com/sketch/ns">
    <title>save-floppy</title>
    <desc>Created with Sketch Beta.</desc>
    <defs>

</defs>
    <g id="Page-1" stroke="none" stroke-width="1" fill="none" fill-rule="evenodd" sketch:type="MSPage">
        <g id="Icon-Set-Filled" sketch:type="MSLayerGroup" transform="translate(-154.000000, -517.000000)" fill="rgb(100, 100, 100)">
            <path d="M172,522 C172,521.447 172.448,521 173,521 C173.552,521 174,521.447 174,522 L174,526 C174,526.553 173.552,527 173,527 C172.448,527 172,526.553 172,526 L172,522 L172,522 Z M163,529 L177,529 C177.552,529 178,528.553 178,528 L178,517 L162,517 L162,528 C162,528.553 162.448,529 163,529 L163,529 Z M182,517 L180,517 L180,529 C180,530.104 179.104,531 178,531 L162,531 C160.896,531 160,530.104 160,529 L160,517 L158,517 C155.791,517 154,518.791 154,521 L154,545 C154,547.209 155.791,549 158,549 L182,549 C184.209,549 186,547.209 186,545 L186,521 C186,518.791 184.209,517 182,517 L182,517 Z" id="save-floppy" sketch:type="MSShapeGroup">

</path>
        </g>
    </g>
</svg>
`; // 버튼 텍스트를 '수정'으로 변경
                editBtn.setAttribute('onclick', `enableEdit(${calId})`); // 다시 수정 버튼으로 전환

        } catch (error) {
            console.log(error)
        }
            } else {
                alert("수정 실패!");
            }
        });
    }
    </script>
</head>
<body>
    <div id="wrap">
        <%- include ('./default/header') %>
        <div id="inside_wrap">
            <%- include ('./default/calendar') %>
            <form action="/newScedule" method="post" id="scedule_form">
                <textarea name="C_TITLE" id="title"  maxlength="20" placeholder="title"></textarea>
                <textarea name="C_CONTENT" id="cal_content" placeholder="content"></textarea>
                시작
                <input type="date" name="C_STARTDATE" id="cal_startDate">
                끝
                <input type="date" name="C_ENDDATE" id="cal_endDate">
                <input type="submit" value="추가">
            </form> 

        </div>
    </div>

</body>
</html>