<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/todolist.css">
    <link rel="stylesheet" href="css/calendar.css">
</head>
    <body>
    <div id="wrap">
        <%- include ('./default/header') %>
        <div id="inside_wrap">
        <%- include ('./default/calendar') %>
            <%- include ('./default/todolist') %>
            <div id="left">
                <div id="rate"></div><br>

                <div id="board">
                    
                    <div name="title">Borad</div>
                </div>
            </div>
        </div>
    </div>
    </body>
</html>