<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- 상단에 보이는 페이지 제목 -->
    <title>LoginPage</title>
    <!-- css 받아오는 파일 -->
    <link rel="stylesheet" href="/css/popup.css" />
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <!-- 전체 배경 -->
    <div class="login_container">
      <!-- 왼쪽 빈공간 : 이후 페이지 및 프로젝트 설명 들어갈 공간 -->
      <div class="login_inform"></div>
      <!-- 초록색 공간 -->
      <div class="login_box">
        <!-- 내부 흰색 공간 : 사이트 이름 및 폼 포함 -->
        <div class="login_main">
          <!-- 사이트 이름 -->
          <div class="login_title">site name</div>
          <!-- 로그인 폼 -->
          <form action="/member/login_check" method="post" class="login_form">
            <input type="text" id="id" name="id" placeholder="id" class="login_input" /> 
            <input
              type="password"
              id="password"
              name="pwd"
              placeholder="password"
              class="login_input"
            />
            <!-- 로그인 버튼, 로그인 성공시 main으로 이동 -->
            <input type="submit" value="signIn" class="login_button" />
            <!-- 회원가입 버튼, 클릭시 팝업창 생성 -->
            <button id="myBtn" class="login_button">signUp</button>
          </form>
        </div>
      </div>
    </div>
    <%- include('popup') %>
    <!-- 팝업 관련 js파일 -->
    <script src="/js/popup.js"></script>
  </body>
</html>
