<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>LoginPage</title>
    <link rel="stylesheet" href="/css/login.css" />
  </head>
  <body>
    <div class="login_container">
      <div class="login_inform">이후에 프로젝트, 페이지 설명 들어갈 페이지</div>
      <div class="login_box">
        <div class="login_main">
          <div class="login_title">site name</div>
          <form action="/main" method="post" class="login_form">
            <input type="text" name="id" placeholder="id" class="login_input" />
            <input
              type="password"
              name="pwd"
              placeholder="password"
              class="login_input"
            />
            <input type="submit" value="signIn" class="login_button" />
            <button class="login_button">signUp</button>
          </form>
        </div>
      </div>
    </div>
  </body>
</html>
