<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/index.css">
    <link rel="stylesheet" href="css/calendar.css">
    
</head>
<body>
    <div id="wrap">
        <%- include ('../default/header') %>
        <div id="inside_wrap">
            <%- include ('../default/calendar') %>
            <form action="/calendar/write" method="post" id="newScedule">
                <textarea name="C_TITLE" id="C_TITLE"  maxlength="20" placeholder="title"></textarea>
                <textarea name="C_CONTENT" id="C_CONTENT" placeholder="memo"></textarea>
                <input type="datetime-local" name="cal_date" id="datetime">
                <input type="submit" value="등록">
            </form>
        </div>
    </div>

</body>
</html>
