<!DOCTYPE html>
<html lang="ko">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="css/default.css">
    <link rel="stylesheet" href="css/todolist.css">
    <link rel="stylesheet" href="css/todo.css">
</head>
<body>
    <div id="wrap">
        <%- include ('../default/header') %>

        <div id="inside_wrap">
            <%- include ('../default/todolist') %>
            <div>
                <input list="mem" id="mem_todolist" name="mem-choice" />
            </div>
        </div>

    </div>
    </div>

</body>
</html>